/* reset and fix */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* inizio stili universali */
/***************************/
body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5 {
    letter-spacing: 1.5px;
    color: #33475b;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

h5 {
    font-size: 14px;
    font-weight: 400;
}

ul {
    list-style: none;
}

button {
    padding: 20px 30px;
    color: white;
    background-color: #fe775a;
    border: none;
    border-radius: 5px;
    border: 1px solid #fe775a;
}

button:hover {
    color: #33475b;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container {
    width: 75%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* FINE stili universali */
/***************************************/
/* ALL part - stili base di ogni parte */
/***************************************/
.fixed_nav {
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #f5f8fa;
    border-bottom: 1px solid grey;
    z-index: 100;
}

.navigation {
    margin-top: 75px;
    width: 100%;
    height: 75px;
    background-color: white;
}

.jumbotron {
    width: 100%;
    height: 400px;
    background-color: #fdf4ee;
    position: relative;
}

.bg_hr {
    width: 100%;
    height: 75px;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

.bg_white_big {
    width: 100%;
    background-color: #f4f9fd;
}

.bg_blue {
    width: 100%;
    background-image: linear-gradient(to bottom left, #00bca5, #00a5bb);
}

.bg_white_small {
    width: 100%;
    /* height: 600px; */
    background-color: #ffffff;
}

footer {
    width: 100%;
    /* height: 700px; */
    background-color: #32495b;
    border: 1px solid black;
}

/*****************************/
/********* FIX NAV ***********/
/*****************************/

/* div in alto a sx */
.fixed_nav .english {
    height: 30px;
    float: left;
    margin: 0px;
    padding: 27px 0 47px 0;
}

.fixed_nav .english:hover {
    cursor: pointer;
}

/* .fixed_nav .english:hover a {
    color: #fe775a;
} */

/* dropdown menu english */
.english_menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    height: 200px;
    width: 120px;
    background-color: white;
    border-radius: 5px;
    z-index: 100;
    border: 1px solid black;
}

/* hover effect dropdown menu */
.fixed_nav .english:hover~.english_menu {
    display: block;
}

.english_menu:hover {
    display: block;
    cursor: pointer;
}

.fixed_nav .contact {
    height: 30px;
    float: left;
    margin: 22px 20px 22px 22px;
    padding: 5px 0;
    color: #33475b;
}

.triangle {
    width: 15px;
    height: 15px;
    position: relative;
    left: 83px;
    top: -8px;
    transform: rotate(45deg);
    overflow: hidden;
    background-color: inherit;
    border-top: 1px solid black;
    border-left: 1px solid black;
    z-index: 99;
}

.english_menu a {
    display: block;
    padding: 5px 10px;
}

.english_menu a:hover {
    background-color: rgba(0, 164, 189, 0.1);

}


.fixed_nav a {
    color: #33475b;
    text-decoration: none;
}

.english {
    width: 120px;
    border-right: 2px solid #cbd6e2;
}

.english .fa-globe {
    margin-right: 10px;
}

.english .nav_icon {
    margin: 0 10px;
}

.fixed_button {
    height: 75px;
    float: right;
    line-height: 75px;
}

.fixed_button .search {
    float: right;
    margin-right: 20px;
    color: #00a4bd;
}

.fixed_button .search:hover+input {
    display: block;
}

.fixed_button button {
    float: right;
    margin: 12px 10px;
}

button.fixed_get_btn {
    padding: 15px 10px;
}

button.fixed_log_btn {
    color: #fe775a;
    background-color: white;
    padding: 15px 30px;
}

button.fixed_log_btn:hover {
    color: white;
    background-color: #fe775a;
}

input {
    height: 20px;
    margin: 26px 10px;
    float: right;
    display: none;
    border: 1px solid #00a4bd;
    border-radius: 5px;
}




/* .fixed_nav a:hover {
    color: #fe775a;
} */



/*****************************/
/*********** NAV *************/
/*****************************/
.navigation #logo {
    height: 40px;
    margin-top: 15px;
    float: left;
}

.menu_right {
    float: right;
    line-height: 75px;
}

.navigation ul li {
    float: left;
    list-style: none;
    padding-left: 18px;
}

.navigation li a {
    text-decoration: none;
    color: #32495b;
}

.navigation li a:hover {
    color: #fe775a;
}

li .nav_icon {
    margin-left: 5px;
    position: relative;
    top: 3px;
}

/*************************/
/* HEADER */
/*************************/
.jumbo_image {
    background-image: url('../img/bg-jumbotron.png');
    height: 600px;
    background-size: 1200px 600px;
    background-repeat: no-repeat;
    background-position: 100% 75px;
}



.banner {
    width: 50%;
    height: 100%;
    position: relative;
    /* DELETE */
    /* background-color: rgba(123, 249, 160, 0.45); */
}

.title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.title h4 {
    margin: 20px 0;
}

.title h5 {
    margin-top: 20px;
}

/*************************/
/* WHITE BIG SECTION */
/*************************/
/* UP */
.bg_white_big .up {
    padding: 40px;
    /* height: 350px; */
    text-align: center;
}

.bg_white_big .up img {
    height: 150px;
}

.bg_white_big .up h4 {
    width: 70%;
    margin: 15px auto;
    line-height: 25px;
}

/* MIDDLE */
.bg_white_big .middle {
    /* height: 300px; */
    box-shadow: 1px 1px 3px grey;
}

/* middle left */
.middle .left {
    float: left;
    width: 30%;
    height: 100%;
    padding: 55px;
    text-align: center;
}

img {
    height: 100px;
}

.bg_white_big .left button {
    display: block;
    margin: 15px auto;
}

/* middle right */
.middle .right {
    float: left;
    width: 70%;
    height: 100%;
    padding: 40px;
    text-align: left;
    /* background-color: rgba(240, 41, 12, 0.48); */
}

.middle .right h5 {
    margin: 25px 0;
    line-height: 25px;
}

.middle .right h4 {
    text-transform: uppercase;
    margin-bottom: 25px;
    display: inline-block;
}

.middle hr {
    display: inline-block;
    border: 1px solid grey;
    width: 60%;
    position: relative;
    bottom: 3px;
    left: 20px;
}

.middle .right ul li {
    display: inline-block;
    padding-right: 10px;
}

i.circle {
    color: #fe775a;
    font-size: 14px;
    margin-right: 10px;
}

.middle .right i.circle {
    position: relative;
    top: -1px;
}

/* DOWN */
/* contenitore delle varie cards */
.cards {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* stili comuni ogni cards */
.card {
    width: calc(100% / 3);
    height: 100%;
    float: left;
}

/* .card.center {
    padding: 0 15px;
} */
.card.one {
    padding-right: 20px;
}

.card.two {
    padding: 0 10px;
}

.card.three {
    padding-left: 20px;
}

/* contenitore all'interno di ogni card */
.card .box {
    text-align: center;
    padding: 10px 30px;
    box-shadow: 1px 1px 3px grey;
}

/* stilizzo i vari elementi delle card */
.card .box ul {
    text-align: left;
}

.card .box hr {
    margin: 50px 0 20px;
    border: 1px solid grey;
}

.card .box h3 {
    margin: 15px 0 30px;
}

.card .box h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.card .box ul {
    margin: 20px 0;
}

.card .box button {
    margin: 15px;
}

/*************************/
/* BKG BLUE SECTION */
/*************************/
.bg_blue .container {
    /* background-color: rgba(108, 32, 93, 0.55); */
    padding: 40px 0;
}

.bg_blue .content {
    text-align: center;
    /* background-color: rgb(142, 193, 184); */
}

.bg_blue h2, .bg_blue h5 {
    color: white;
    width: 80%;
    margin: 0 auto;
}

.bg_blue h2 {
    margin-bottom: 20px;
}

.table {
    /* padding:10px 0px; */
    width: 100%;
    height: 363px;
    margin: 40px auto;
    text-align: center;
}

.table .cell {
    width: calc(100% / 4);
    height: 180px;
    /* display: inline-block; */
    float: left;
    /* background-color: blue; */
    padding: 20px;
    margin-bottom: 5px;
    /* border: 1px solid white; */
}

.cell img {
    height: 30px;
}

.cell h2 {
    margin-top: 10px;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.cell:nth-child(4) {
    border-bottom: 1px solid white;
}

.cell:nth-child(5), .cell:nth-child(6), .cell:nth-child(7) {
    border-right: 1px solid white;
}

/*************************/
/* WHITE SMALL SECTION */
/*************************/
.bg_white_small .container {
    height: 100%;
    /* background-color: rgba(108, 32, 93, 0.55); */
    padding: 40px 0;
}

/* UP */
.bg_white_small .up {
    height: 40%;
    /* background-color: rgba(109, 29, 184, 0.47); */
}

/* up left */
.bg_white_small .up .left {
    height: 100%;
    width: 30%;
    padding: 40px 90px;
    float: left;
    /* background-color: rgb(221, 222, 145); */
}

.bg_white_small .up .left h4 {
    margin-top: 10px;
}

/* up right */
.bg_white_small .up .right {
    height: 100%;
    width: 70%;
    float: left;
    /* background-color: rgba(223, 4, 119, 0.46); */
}

.bg_white_small .brands {
    padding: 40px 55px;
}

.bg_white_small .brands .brand {
    width: 170px;
    height: 50px;
    float: left;
    margin-bottom: 5px;
    /* border: 1px solid white; */
    position: relative;
}

.brand img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* differnte sizing brand images brand */
/* big */
.brand img.big_brand {
    height: 15px;
}

/* medium */
.brand img.medium_brand {
    height: 30px;
}

/* small */
.brand img.small_brand {
    height: 40px;
}

/* DOWN */
.bg_white_small .down {
    height: 60%;
    /* background-color: rgba(76, 184, 29, 0.47); */
    padding: 10px 0;
}

/* down left */
.bg_white_small .down .left {
    height: 100%;
    width: 50%;
    float: left;
    text-align: left;
    /* background-color: rgba(93, 103, 193, 0.69); */
}

.bg_white_small .down .left h2 {
    margin-top: 40px;
}

.bg_white_small .down .left h5 {
    margin: 20px 0;
}

/* down right */
.bg_white_small .down .right {
    text-align: right;
    height: 100%;
    width: 50%;
    float: left;
    /* background-color: rgba(133, 186, 217, 0.6); */
}

.bg_white_small .down .right img {
    height: 340px;
}

/*************************/
/* FOOTER */
/*************************/
footer {
    padding-top: 80px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #00a4bd;
    text-decoration: none;
}

/* SOME LINK SECTION */
footer .some_link {
    height: 60%;
    /* background-color: rgba(117, 140, 139, 0.76); */
    padding: 20px 0;
}

.some_link .list {
    float: left;
    width: calc(100% / 4);
    padding-right: 30px;
}

.some_link .list ul {
    margin-top: 15px;
}

.some_link .list li {
    padding: 8px 0;
}

/* .some_link .list a {
    color: white;
    text-decoration: none;
} */
.some_link .list button {
    color: #32495b;
    background-color: white;
    border: 1px solid transparent;
}

.some_link .list button:hover {
    color: white;
    background-color: #32495b;
    border: 1px solid white;
}

.some_link .list i {
    padding-right: 15px;
}

.some_link .list .nav_icon {
    position: relative;
    top: 2px;
}

/* LANG SECTIONS*/
footer .lang {
    /* height: 20%; */
    padding: 40px 0;
    /* background-color: rgba(215, 36, 106, 0.55); */
}

footer .lang div {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

footer .lang div span {
    margin: 0 20px;
}

/* PRIVACY SECTION */
footer .privacy {
    width: 100%;
    /* height: 20%; */
    padding: 20px 0;
    border-top: 1px solid rgb(91, 126, 162);
    /* background-color: rgba(97, 100, 189, 0.65); */
}

.footer_logo {
    height: 80px;
    width: 300px;
    padding: 15px 0;
    /* background-color: red; */
    float: left;
}

.privacy_stuff {
    height: 80px;
    width: 200px;
    text-align: right;
    /* background-color: red; */
    float: right;
    line-height: 80px;
}

.privacy_stuff a {
    margin-left: 15px;
}

footer .privacy img {
    height: 25px;
    margin-bottom: 5px;
}

.footer .privacy_stuff {
    float: right;
}
